name: Check Script

on:
  workflow_dispatch:
  schedule:
    - cron: "30 * * * *"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Run install
        run: npm install
      
      - name: Run build
        run: npm run build
        env: 
          API_KEY: ${{secrets.API_KEY}}
          API_SECRET: ${{secrets.API_SECRET}}

      - name: Run start
        run: npm run start
        env: 
          API_KEY: ${{secrets.API_KEY}}
          API_SECRET: ${{secrets.API_SECRET}}
